<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ReadyKitRenderer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B6D72B591B13420000DAAB66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6D72B731B13551700DAAB66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6D72B801B13554500DAAB66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
